{% extends 'base.html.twig' %}

{% block title %}Circus index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-4 backImg"></div>
            <div class="col-8">
                {% for circus in circuses %}
                    <h2 class="circusText">{{ circus.history }}</h2>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
