{% extends 'base.html.twig' %}

{% block title %}New Circus{% endblock %}

{% block body %}
    <h1>Create new Circus</h1>

    {{ include('circus/_form.html.twig') }}

    <a href="{{ path('circus_index') }}">back to list</a>
{% endblock %}
