{% extends 'base.html.twig' %}

{% block title %}New Performers{% endblock %}

{% block body %}
    <h1>Create new Performers</h1>

    {{ include('performers/_form.html.twig') }}

    <a href="{{ path('performers_index') }}">back to list</a>
{% endblock %}
